<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Welcome</a></li>
		        	<li><a href="/cyborg">Cyborg</a></li>
	        		<li><a href="/msc">M.Sc.</a></li>
	        		<li><a href="/bsc">B.Sc.</a></li>
	        		<li><a href="/bba">B.BA.</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:jleaver@alumni.uwo.ca">email</a></li>
	        		<li><a href="https://github.com/j-alexander">github.com/j-alexander</a></li>
				</ul>
			</footer>
		</body>
	</html>